.ambassador-page {
}
.ambassador-page * {
  font-family: 'Raleway', sans-serif;
}
.ambassador-page-header {
  margin: 0px auto 10px auto;
  height: 160px;
  background-image:linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.41)
    ),
    url('../assets/register-large.jpg');
  background-color: grey;
  background-position: center;
  background-size:100%;
  display: flex;
  justify-content: space-between;
}

.ambassador-page-header i {
  margin-left: 24px;
}
.ambassador-page-header h3 {
  font-size: 2.4em;
  vertical-align: middle;
  color: white;
  margin: auto 30px auto 0px;

}
@media only screen and (max-width:400px){
  .ambassador-page-header h3{
    visibility: hidden;
  }
  .ambassador-page-header .logo{
    width:100%;
  }
}
.carousel-title-current {
  background-color: none;
}
.carousel-background-current {
  background-color: rgb(188, 193, 209);
}
.ambassador-itinerary-slide {
  background-color: white;
  font-size: 1.4em;
  margin: auto 10px;
}
.itinerary-location-name {
  color: white;
  font-size: 3.5vw;
  background-color: rgb(94, 124, 253);
}

.itinerary-info {
  color: black;
  font-size: 3vw;
}

@media screen only and (max-width: 600px) {
  .itinerary-info {
    font-size: 0.7em;
  }
}
