.ambassador-page{
  margin-bottom:45px;
}
.ambassador-page *{
  font-family:'Raleway',sans-serif;
}
.ambassador-page-header{
  margin:0px auto 10px auto;
  height:160px;
  /* background-image:url('http://via.placeholder.com/1600x800'); */
  background-color: grey;
  background-position:center;
  display:flex;
  justify-content: space-between;

}

.ambassador-page-header i{
  margin-left:24px;
}
.ambassador-page-header h3{
  font-size:2.4em;
  vertical-align: middle;
  color:white;
  margin:auto 30px auto 0px;
  /* width:100px; */
}
.carousel-title-current{
  background-color:none;
}
.carousel-background-current{
  background-color: rgb(188,193,209);
}
.ambassador-itinerary-slide{
  background-color: white;
  font-size:1.4em;
  margin:auto 10px;
}
.itinerary-location-name{
  color:white;
  font-size:1.5em;
  background-color:rgb(94,124,253);
}

.itinerary-info{
  color:black;
  font-size: .9em;
}

@media screen only and (max-width:600px){
  .itinerary-info{
    font-size:.7em;
  }
}
