.app {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  border: 1px solid #666;
  padding: 5px;
  margin: 0 5px;
  outline: 0;
}

button {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #4EA5D9;
  cursor: pointer;
  outline: 0;
}

/* geosuggest package */
