.card-button {
  background-color: rgb(94, 124, 253);
  color: white;
  font-size: 1.4em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 100px;
  height: 35px;
}
