.mini-block {
  background-color: rgb(188, 193, 209);
  margin: 0;
  width: 100%;
  align-items: center;
  min-height: 100px;
  height: auto;
  display: grid;
  grid-template-columns: 33% 67%;
}


.mini-block-nav {
  width: auto;
  padding-right: 15px;
  font-size: 18px;
  vertical-align: middle;
  grid-column: 1;
  text-align: right;
  display: grid;
  grid-template-columns: 80% 20%;

}


.mini-block-title {
  font-size: 18px;
  text-align: right;
  position: relative;
}
.mini-card {
  background-color: white;
  width: auto;
  min-height: 100px;
  height: auto;
  padding: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  grid-column: 2;
}

.mini-card-header {
  width: 100%;
  background-size: cover;
  flex: 1 1 20em;
  font-size: 26px;
  padding-bottom:10px;
}
.mini-card-blurb {
  display: flex;
  flex: 1 1 10em;
  font-size: 13px;
}

.mini-card-options {
  float: left;
  padding-right: 15px;
  font-size: 14px;
}

@media only screen and (min-width: 800px) {
  .mini-card-blurb {
    font-size: 14px;
  }

  .mini-block-title {
    font-size: 24px;
  }
}
