.multi-view {
  font-family: 'IBM Plex', sans-serif;
  margin-bottom:25px;
}
.multi-view button{
  margin:10px;
}
.trip-spread {
  display: flex;
  justify-content: space-between;
}

.trip-block {
  margin: 0 20px;
}

.multi-day-header {
  border-bottom: 1px solid black;
  padding-bottom:10px;
}

.block-date {
  padding-top: 15px;
  padding-left: 15px;
  font-size: 20px;
  display: inline-block;
  width: 50%;
}

.go-to-day {
  float: right;
  margin-right: 25px;
  margin-top: 15px;
}

.one-day-link:hover .one-day-link:active {
  background-color: grey;
}

.no-blocks {
  padding: 15px;
}

.trip-details {
  height: auto;
  background-image:linear-gradient(
    to top,
     rgba(0, 0, 0, 0.25),
     rgba(0, 0, 0, 0.2)
    ),url('../assets/la-large.jpg') ;
  background-repeat: no-repeat;
  background-position: 0% 80%;
  background-size: 100%;
  color: white;
  text-align: center;
  padding-bottom: 225px;
}

@media only screen and (max-width: 600px) {
  .itinerary-header {
    font-size: 32px;
  }

  .itinerary-dates {
    font-size: 28px;
  }
}
