.multi-view {
  font-family: 'IBM Plex', sans-serif;
}

.trip-spread {
  display: flex;
  justify-content: space-between;
}

.trip-block {
  margin: 0 20px;
}

.block-date {
  padding-top: 15px;
  padding-left: 15px;
  font-size: 20px;
  border-bottom: 1px solid black;
}

.one-day-link:hover .one-day-link:active {
  background-color: grey;
}

.no-blocks {
  padding: 15px;
}