.nav-content{
  position:relative;
  z-index: 5000;
  width:100%;
  /* margin-bottom:10px; */
  display:flex;
  justify-content: space-between;
  background-color:rgba(0, 0, 0, 0.22);
  align-items: center;
}
.nav-content button{
  margin:5px;
}
.nav-logo{
  display:inline-block;
  margin:4px 18px;
}

.nav-links{
  display:inline-block;
}
.nav-links > *{
  margin: 0px 8px;
}
