.quick-about i{
  font-size: 7em;
  margin-bottom:20px;
}
.quick-about{
  display:flex;
  margin:45px 0px;
  flex-wrap: wrap;
}
.quick-about-header{
  width:100%;
  border:1px solid red;
  height:5vh;
  margin-bottom:5px;
}
.info-card{
  display:flex;
  flex-direction: column;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: rgb(188, 193, 209);
  margin:0 auto;
  height:330px;
  width:240px;
  padding:10px;
}
.info-card >*{
  display:block;
}


@media only screen and (max-width: 850px)  {
  .info-card{
    width:100%;
    margin:15px 50px;
  }
}
