.registration{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: auto;
  height:100%;
}
.hero-container{
  border:1px solid green;

  grid-column: 1;
  height: 96.5vh;


  color:white;
  padding-top:140px;

  background-image:
    linear-gradient(
      to right,
       rgba(0, 0, 0, 0.19),
       rgba(0, 0, 0, 0.2)
      ),
    url('../assets/registration-hero.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 140%;

}
.form-container{
  grid-column:2;
  border:1px solid yellow;
  text-align: center;
}
.account-link{
  font-size: 14px;
}

@media only screen and (max-width: 720px)  {
  .registration{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: auto;
  }
  .hero-container{
    height:27vh;
    display: inline-block;

    padding-top:20px;

    background-position: top;
  }
  .form-container{
    grid-column:1;
    height:70vh;
    display: inline-block;
  }


}
