.registration{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: auto;
  height:100%;
}
.hero-container{
  grid-column: 1;
  height: 96.5vh;

  color:white;
  padding-top:190px;
  padding-left:30px;

  background-image:
    linear-gradient(
      to right,
       rgba(0, 0, 0, 0.44),
       rgba(0, 0, 0, 0.22)
      ),
    url('../assets/register-large.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 140%;

}
.form-container{
  margin-top:27px;
  grid-column:2;
  text-align: center;
}
.account-link{
  font-size: 14px;
}

@media only screen and (max-width: 859px)  {
  .registration{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: auto;
  }
  .hero-container{
    height:27vh;
    display: inline-block;
    padding-top:20px;
    background-position: top;
  }
  .form-container{
    margin-top:15px;
    grid-column:1;
    height:70vh;
    display: inline-block;
  }

}
