.timeline-symbol{
  position:relative;
  display:block;
}

.timeline-symbol i{
  font-size: 2em;
  /* display:block; */
}


.timeline-symbol hr{
  width: 3px;
  height: 55px;
  background-color: #333;
  border: none;
  position: absolute;
  right: 17px;
  top: 40px;
}

@media only screen and (max-width:630px){
  .timeline-symbol{
    visibility: hidden;
  }
}
