.toolbelt {
  position: fixed;
  top: 0;
  right: 0;
  width: 390px;
  height: 100%;
  transition: 1s;
  z-index: 5000;
}

.toolbelt-hidden {
  position: fixed;
  top: 0;
  right: -400px;
  width: 390px;
  height: 100%;
  opacity: 0;
  transition: 1s;
  z-index: 5000;
}

.toolbelt-button {
  margin: 0;
  position: fixed;
  top: 50px;
  right: 2.5%;
  cursor: pointer;
  z-index: 5001;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  background-color: tomato;
}

.cards-content {
  display: flex;
  flex-wrap: wrap;
  width: 305px;
}

.card-search {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
  height: 30px;
}

.card-search input {
  width: 230px;
  height: 100%;
  margin: 0;
  border: none;
  border-radius: 5px 0 0 5px;
}

.card-search button {
  width: 70px;
  height: 100%;
  margin: 0;
  border-radius: 0 5px 5px 0;
}

.create-card, .back-button {
  margin: 50px 0;
  margin-bottom: 25px;
  justify-content: flex-start;
}

.yelp-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.yelp-search form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 30px;
  margin-bottom: 50px;
}

.yelp-search form label {
  margin-bottom: 5px;
}

.yelp-search form input {
  width: 230px;
  height: 100%;
  margin: 0;
  border: none;
  border-radius: 5px 0 0 5px;
}

.yelp-search form button {
  width: 70px;
  height: 100%;
  margin: 0;
  border-radius: 0 5px 5px 0;
}

.create-card-form h4, .edit-card-form h4 {
  margin-bottom: 10px;
}