.block-spread {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: #bcc1d1;
  margin:22px 0px;
  padding: 10px;
  min-height: 200px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.delete-block {
  position: relative;
  display:  block;
  width: 100%;
  text-align: right;
  font-size: 13px;
}

.delete-block button {
  background-color: tomato;
  margin: 0;
}

.block-spread h2 {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}

.block-spread h3 {
  width: 100%;
  margin-bottom: 10px;
}

.add-new-spread{
  border:1px solid blue;
  background-color:#bcc1d1;
  margin:22px 0px;
  padding: 20px;
  height:200px;
}

.location {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3vh;
  border: 1px solid black;
  background-color: #fff;
  text-align: left;
}

.location img {
  width: 100%;
}

.location hr {
  width: 100%;
  height: 1px;
  border: .5px solid #666;
}

.location-info {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid black;
}

.location-info li {
  font-size: 13px;
}

.location-info p {
  font-size: 13px;
}

.location div {
  width: 100%;
}

.location-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.location-name h3 {
  width: 100%;
  margin: 0;
}

.location-address {
  width: 100%;
}

.location-description {
  width: 100%;
}

.star-outer {
  position: relative;
  display: inline;
}

.star-inner {
  position: absolute;
  top: 1px;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #f8ce0b;
  width: 0;
}

.star-show {
  width: 100%;
}

.location-phone {
  width: 100%;
}

.location-controls {
  display:flex;
  justify-content: flex-end;
  margin: 10px 0;
}

.location-controls label {
  font-size: 13px;
}

.location-controls button{
  background-color: none;
  padding:4px;
  font-size: 13px;
}

@media only screen and (min-width: 600px) {
  .block-spread {
    padding: 30px;
  }

  .location-address {
    width: 50%;
  }

  .location-phone {
    text-align: right;
    width: 50%;
  }
}

@media only screen and (min-width: 859px) {
  .location {
    flex-direction: row;
    height: 300px;
  }

  .location img {
    width: 40%;
  }

  .location-info {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    padding: 5px;
  }
}

@media only screen and (min-width: 1100px) {
  .location {
    height: 350px;
  }

  .location-info {
    padding: 20px;
  }

  .location-info li {
    font-size: 15px;
  }
  
  .location-info p {
    font-size: 15px;
  }

  .location-controls label {
    font-size: 15px;
  }
  
  .location-controls button{
    font-size: 15px;
  }
}

@media only screen and (min-width: 1300px) {
  .block-spread {
    padding: 15px 30px;
  }

  .location {
    height: 400px;
  }
}

@media only screen and (min-width: 1600px) {
  .location img {
    width: 40%;
  }

  .location-info {
    width: 60%;
  }
}